# Virtual environment
myenv/
venv/
env/

# Database
db.sqlite3
*.db
echo "home/migrations/" >> .gitignore

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
shtools/
var/
wheels/
*.egg-info/
.installed.cgi
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.venv

# OS
.DS_Store
Thumbs.db

# Apache
.htaccess
cgi-bin/

# Soft
tailwindcss.exe